header {
  display: flex;
  justify-content: center;
  padding: 15px 0px 0px 0px;
}
.container-articles {
  margin-top: 40px;
}
.articles-others {
  margin-left: 40px;
}
@media screen and (min-width: 700px) {
  .container-articles {
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}