header {
  display: flex;
  justify-content: center;
  padding: 15px 0px 0px 0px;
}
.container-articles {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}
.articles-others {
  margin-left: 40px;
}