<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card 
    Id="1"
    photoCover="https://i.stack.imgur.com/luaq2.png"
    cardTitle="NOVO TÍTULO"
    cardDescription="Nova descrição para o Big Card. Nova descrição para o Big Card."
    >
    </app-big-card>
  </div>
  <div class="articles-others">
    <app-small-card 
    Id="2"
    photoCover="https://i.stack.imgur.com/luaq2.png"
    cardTitle="Primeiro Título"
    ></app-small-card>
    <app-small-card 
    Id="3"
    photoCover="https://i.stack.imgur.com/luaq2.png"
    cardTitle="Segundo Título"
    ></app-small-card>
    <app-small-card 
    Id="4"
    photoCover="https://i.stack.imgur.com/luaq2.png"
    cardTitle="Terceiro Título"
    ></app-small-card>
  </div>
</div>